/* Target the entire scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Adjust width */
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: teal; /* Change scrollbar color */
  border-radius: 4px; /* Round edges */
}

/* Track (background of scrollbar) */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light gray background */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkcyan;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: url("/imgs/cursor.png"), auto;
  font-family: "Smooch Sans", serif;
}

#root {
  max-width: 1280px;
  height: fit-content;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
  /* border: 1px solid red; */
}

.container {
  padding: 1rem;
  height: 100%;
  display: flex;
}

.left,
.right {
  flex: 1;
}
p {
  line-height: 1.4;
  /* letter-spacing: .4px; */
  font-size: 1.3rem;
}
p.tagline {
  max-width: 60%;
}
h2 {
  font-size: 2.5rem;
  font-family: "dancing script", serif;
}
.btn_wrap {
  padding: 0.5rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.divider {
  height: 180px;
}

/* Fliping */

.cards {
  display: flex;
  perspective: 1000px;
}

.card {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}
.card:hover {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform-origin: center; /* Ensures even flipping */
}
.card-back {
  background-color: #213547;
  padding: 0.2rem;
  flex-direction: column;
  color: white;
  transform: rotateY(180deg);
}

/* --------Hero Section-------- */
.hero {
  max-height: 100dvh;
}
/* ///////// Hero Left ///////// */
.hero .left {
  flex: 1;
  display: flex;
  place-items: center;
}
.hero .left .text_wrap {
  width: 90%;
  margin: auto;
  padding: 2rem;
}
.hero .left .text_wrap h4,
.hero .left .text_wrap h1 {
  margin-bottom: -0.5rem;
}
.hero .left .text_wrap h1 {
  font-size: 4rem;
}
.hero .left .text_wrap .fancy {
  margin-bottom: 1rem;
  font-family: "dancing script", serif;
  color: teal;
}

/* ///////// Hero Right ///////// */

.hero .right {
  flex: 1;
  clip-path: polygon(0 51%, 20% 0, 100% 0, 100% 100%, 20% 100%);
  background-color: teal;
}
.hero .right .img_wrap {
  height: 100%;
  width: 100%;
}
.hero .right .img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* xx--------Hero Section--------xx */

/* --------About Section-------- */
.about {
  max-height: 100dvh;
}

/* ///////// About Right ///////// */

.about .right {
  display: flex;
  align-items: center;
  padding: 2rem;
  text-align: left;
}
.about .right .text_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.about .right .text_wrap .btn_wrap {
  justify-content: start;
}

/* ///////// About Left ///////// */

.about .left {
  padding-left: 2rem;
  overflow: hidden;
  height: 500px;
}
.about .left .img_wrap {
  position: relative;
  height: 90%;
  width: 90%;
  /* background-color: teal; */
  border-radius: 50%;
  overflow: hidden !important;
  margin: auto 0;
  box-shadow: 0px 2px 1px 0px #213547af;
}

.about .left .img_wrap .blob {
  border: 5px double white;
  position: absolute;
  width: 40px;
  margin: auto;
  height: 40px;
  background-color: teal;
  /* background-color: #ccc; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -2;
}
.about .left .img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* xx--------About Section--------xx */

/* --------Tech-Stack Section-------- */
.tech_stack {
  max-height: 50dvh;
  padding-block: 2rem;
}
.tech_stack .container {
  align-items: center;
  flex-direction: column;
}

.tech_stack .stacks {
  gap: 10px;
  margin-top: 2rem;
}

.card-back h5 {
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
  border-bottom: 1px solid #cccccc75;
  color: teal;
  text-shadow: 1px 0px 1px white;
}

.tech_stack .stack img {
  width: 90%;
  height: 90%;
  background-color: white;
  object-fit: contain;
}
/* xx--------Tech-Stack Section--------xx */

/* --------Project Section-------- */
.project {
  max-height: 100dvh;
}
.project .container {
  display: block;
}
.project h2 .style1 {
  color: teal;
  margin-right: 1rem;
}
.project p {
  width: 60%;
  margin: 1rem auto 0;
  padding: 0.4rem;
}
.project .projects {
  margin-top: 1rem;
  height: 400px;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
}
.projects .proj {
  width: 32%;
  height: 100%;
}
.projects .proj:hover {
  transform: rotateY(0);
}
.projects .proj.active {
  transform: rotateY(180deg);
}

.projects .proj .card-front,
.projects .proj .card-back {
  height: 400px;
  overflow: hidden;
}
.projects .proj .top {
  height: 35px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding-left: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #ccc;
  transition: all 0.3s ease;
}
.projects .proj .top span {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
}
.projects .proj .img_wrap {
  height: 100%;
  overflow: hidden;
  margin-top: 35px;
}
.projects .proj img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.8s ease;
}
.projects .proj:hover img {
  transform: translateY(-100px);
}
.projects .proj:hover .top {
  background-color: #213547;
}
.projects .proj:hover .top span {
  background-color: white;
}

.projects .proj p {
  width: 99% !important;
  text-align: center;
}

.projects .proj .card-back .stacks {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  width: 60%;
}
.projects .proj .card-back .stacks span {
  background-color: teal;
  padding: 0.5rem;
  transition: all 0.3s ease;
}
.projects .proj .card-back .stacks span:hover {
  background-color: #fff;
  color: #213547;
}
.projects .proj .card-back a {
  color: white;
  margin-top: 0.5rem;
  padding: 0.3rem;
  text-decoration: none;
}

/* xx--------Project Section--------xx */

/* --------Form Section-------- */
.form-section {
  max-height: 100dvh;
}

.form-section .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}
.form-section .left h4 {
  font-size: 1.3rem;
  letter-spacing: 3px;
}
.form-section .left h4:first-of-type {
  margin-left: 1rem;
}
.form-section .left h4:last-of-type {
  margin-left: 2rem;
}
.form-section .left .caption {
  width: 80%;
  position: relative;
  color: teal;
}
.form-section .left .caption img {
  position: absolute;
  right: -0%;
  top: 25%;
  bottom: 50%;
  transform: rotate(25deg);
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.form-section .left .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline: 1rem;
  overflow: hidden;
  position: absolute;
  top: 0%;
  right: 0;
}
.form-section .left .info span {
  display: flex;
  align-items: center;
  gap: 1rem;
  letter-spacing: 1.2px;
  border: 1px solid #ccc;
  height: 40px;
  padding-left: 0.5rem;
  transform: translateX(190px);
  transition: all 1s ease;
}
.form-section .left .info span:hover {
  transform: translateX(15px);
}

.form-section .left .info span img {
  width: 30px;
  height: 30px;
  margin: auto 0;
}

.form-section .seperator {
  width: 0.5px;
  max-height: 100%;
  background-color: teal;
}
.form-section .right {
  flex: 1.5;
  position: relative;
}
.form-section form {
  width: 90%;
  height: 100%;
  margin: auto;
}

.form-section .right label {
  font-size: 1.2rem;
}
.form-section .right input {
  width: 100%;
  height: 40px;
  padding: 0 0.5rem;
  font-size: 1.1rem;
}

.form-section .right .input_grp {
  display: flex;
  gap: 10px;
  width: 100%;
  text-align: start;
}
.form-section .right .input_grp div {
  width: 100%;
  padding: 0.5rem;
}

.form-section .right .row {
  width: 100%;
  text-align: start;
  padding: 0.5rem;
  margin-top: 1rem;
}
.form-section .right .row input {
  width: 100%;
}
.form-section .right .row textarea {
  width: 100%;
  resize: none;
  height: 250px;
  padding: 0.5rem;
  font-size: 1.1rem;
  text-align: justify;
}

.form-section .right .feedback {
  position: absolute;
  bottom: 10px;
  left: 20%;
  right: -150%; /* Start off-screen */

  transform: translateX(40%);
  color: white;
  padding: 0.3rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.5s ease, right 1s ease;
}
.form-section .right .feedback.active {
  opacity: 1;
  right: 25%; /*Moves to the visible area */
}
.form-section .right .feedback.success {
  background-color: #4caf50;
}
.form-section .right .feedback.failed {
  background-color: rgb(255, 4, 4);
}
/* xx--------Form Section--------xx */

/* --------Footer Section-------- */
footer button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: teal;
  color: white;
  position: fixed;
  right: 3%;
  bottom: 5%;
  opacity: 0;
}
footer button.show {
  opacity: 1;
}

footer .container {
  text-align: center;
}
footer .container p {
  margin: auto;
  padding-inline: 2rem;
}

/* xx--------Footer Section--------xx */

/* --------Media Queries-------- */
@media (max-width: 1024px) {
  /* --------Hero Section-------- */
  .hero .left .text_wrap h1 {
    font-size: 3rem;
  }

  /* --------Tech-Stack Section-------- */
  .tech_stack {
    max-height: fit-content;
  }
  .tech_stack .stacks {
    flex-wrap: wrap;
    justify-content: center;
  }
  .tech_stack .stacks .stack {
    width: 150px;
    height: 150px;
  }

  .tech_stack .stacks .stack .card-back p {
    font-size: 12px;
  }
  .tech_stack .stacks .stack .card-back h5 {
    font-size: 1.2rem;
  }
  /* --------Projects Section-------- */
  .project .projects {
    height: 100%;
  }
  .projects .proj {
    height: 300px;
  }

  .projects .proj .card-front {
    height: 100%;
  }
  .projects .proj .card-front img {
    margin-top: 18px;
  }
  .projects .proj .card-front img:hover {
    transform: translateY(-10px);
  }

  .projects .proj .card-back {
    height: 100%;
  }
  .projects .proj .card-back p {
    font-size: 12px;
    margin-top: 0;
  }
  .projects .proj .card-back a {
    margin-top: 0;
  }

  .projects .proj .card-back .stacks {
    width: 100%;
    margin-bottom: 0;
  }
  .projects .proj .card-back .stacks span {
    padding: 0.1rem;
  }

  /* --------Form Section-------- */
  .form-section .right form {
    height: 100%;
  }
  .form-section .right .row {
    margin-top: 0.3rem;
  }
  .form-section .right .row textarea {
    height: 150px;
  }
  .form-section .left .caption img {
    top: 30%;
  }
}

@media (max-width: 905px) {
  h2 {
    font-size: 2rem;
  }
  .btn_wrap span {
    font-size: 1rem;
  }
  /* --------Hero Section-------- */
  .hero .left {
    width: 300px;
  }
  .hero .left .text_wrap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
  }

  .hero .left .btn_wrap {
    width: 100%;
  }

  /* --------About Me Section-------- */
  .about .left {
    box-shadow: 0px 0px 13px #ccc;
    padding: 0;
  }
  .about .left .img_wrap {
    width: 100%;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    height: 100%;
  }
  .about .right {
    padding: 0 0 0 1rem;
    width: 400px;
  }
  .about .right .text_wrap {
    justify-content: center;
    gap: 0;
    width: 100%;
    height: 100%;
  }

  .about .right .btn_wrap {
    margin-top: 0;
    padding: 0;
  }
  /* --------Projects Section-------- */
  .projects .proj .card-back {
    overflow-y: auto;
    padding-top: 2rem;
  }
  .projects .proj .card-back a button {
    height: 30px;
  }

  /* --------Form Section-------- */

  .form-section .left .info span {
    height: 30px;
    background-color: #fff;
  }

  .form-section .left .info span img {
    width: 26px;
    height: 26px;
  }

  .form-section .right form {
    height: 100%;
    width: 100%;
  }

  .form-section .right .feedback {
    bottom: -40px;
    left: -10%;
    transform: translateX(20%);
  }
  .form-section .right .feedback.active {
    right: 20%;
  }
}

@media (max-width: 736px) {
  /* --------Hero Section-------- */
  .hero .left .text_wrap h1 {
    font-size: 2.6rem;
  }
  .hero .left .btn_wrap {
    margin-top: 2rem;
    gap: 10px;
    padding: 0;
  }

  /* --------Projects Section-------- */
  .project {
    max-height: fit-content;
  }
  .project .projects {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 8px;
    row-gap: 10px;
    padding: 0;
  }
  .project p {
    width: 90%;
  }
  .projects .proj .card-back .stacks {
    margin-bottom: 1rem;
  }
  .projects .proj .card-back button {
    margin-top: 1rem;
  }
  .projects .proj .card-back p {
    padding: 0;
  }

  .projects .proj {
    width: 49%;
  }
  /* --------Form Section-------- */

  .form-section .right form input {
    height: 30px;
  }

  .form-section .right .input_grp {
    flex-wrap: wrap;
    gap: 0;
  }
  .form-section .right form .row:last-of-type {
    padding-block: 0;
  }
  .form-section .left .caption {
    width: 100%;
  }
  .form-section .left .caption img {
    right: -10px;
  }
}

@media (max-width: 632px) {
  .divider {
    height: 100px;
  }
  p.tagline {
    max-width: 90%;
  }
  /* --------Hero Section-------- */
  .hero {
    max-height: fit-content;
  }
  .hero .container {
    flex-direction: column-reverse;
  }
  .hero .left {
    width: 100%;
    padding: 2rem 0;
  }
  .hero .right {
    height: 300px;
    clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
  }
  .hero .right .img_wrap {
    height: 300px;
  }
  .hero .right .img_wrap img {
    object-position: 50% 25%;
    width: 75%;
  }

  /* --------About Me Section-------- */
  .about {
    max-height: fit-content;
  }
  .about .container {
    flex-direction: column;
  }

  .about .left .img_wrap {
    height: 300px;
  }
  .about .right {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }
  .about .right .text_wrap h2 {
    margin-bottom: 1rem;
    background-color: teal;
    color: white;
  }
  .about .right .text_wrap p {
    text-align: center;
  }
  .about .right .text_wrap .btn_wrap {
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
  }
  /* --------Tech Stack Section-------- */
  .tech_stack p#stack_tagline {
    max-width: 90%;
  }

  /* --------Projects Section-------- */
  .project
  /* --------Form Section-------- */
  .form-section {
    min-height: fit-content;
  }
  .form-section .left {
    min-height: 200px;
  }
  .form-section .container {
    flex-direction: column;
  }
  .form-section .left .caption img {
    top: 20%;
    left: 15%;
    transform: rotate(-25deg);
    height: 40px;
    width: 40px;
  }
  .form-section .right label {
    font-size: 1rem;
    margin-bottom: 0.2rem;
    display: block;
  }
  .form-section .right .feedback {
    left: -20%;
    padding: 0.2rem 0;
  }
}

@media (max-width: 445px) {
  /* --------Projects Section-------- */
  .project p {
    width: 100%;
  }
  .project .projects {
    row-gap: 20px;
  }
  .projects .proj {
    width: 100%;
    height: 400px;
  }
  .projects .proj .card-front img:hover {
    transform: translateY(-50px);
  }

  /* --------Form Section-------- */
  .form-section .left .caption img {
    top: 45%;
    left: 17%;
  }
}

@media (max-width: 380px) {
  /* --------Hero Section-------- */
  h2 {
    font-size: 1.6rem;
  }
  .hero .left .text_wrap h1 {
    font-size: 2.2rem;
  }
  .hero .right .img_wrap img {
    width: 100%;
  }
}
